body {
    background-color: darkred;
    color: blanchedalmond;
    font-family: "Lexend", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0px;
}

button{
    background-color: darkmagenta;
    color: antiquewhite;
    font-family: <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href=
}

